@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
#docs-output {
  /* navicon button */
  /* navicon */
  /* open */
  /* Minus */
  /* × and + */
  /** Add a '#' to static members */
}
#docs-output a,
#docs-output a:active {
  color: #606;
  text-decoration: none;
}
#docs-output a:hover {
  text-decoration: none;
}
#docs-output article a {
  border-bottom: 1px solid #ddd;
}
#docs-output article a:hover, #docs-output article a:active {
  border-bottom-color: #222;
}
#docs-output p, #docs-output ul, #docs-output ol, #docs-output blockquote {
  margin-bottom: 1em;
}
#docs-output h1, #docs-output h2, #docs-output h3, #docs-output h4, #docs-output h5, #docs-output h6 {
}
#docs-output h1, #docs-output h2, #docs-output h3, #docs-output h4, #docs-output h5, #docs-output h6 {
  color: #000;
  font-weight: 400;
  margin: 0;
  line-height: 1.2em;
}
#docs-output h1 {
  font-weight: 300;
  font-size: 48px;
  margin: 1em 0 0.5em;
}
#docs-output h1.page-title {
  font-size: 48px;
  margin-bottom: 30px;
}
#docs-output h2 {
  font-size: 24px;
  margin: 1.5em 0 0.3em;
}
#docs-output h3 {
  font-size: 24px;
  margin: 1.2em 0 0.3em;
}
#docs-output h4 {
  font-size: 18px;
  margin: 1em 0 0.2em;
  color: #4d4e53;
}
#docs-output h4.name {
  color: #fff;
  background: #6d426d;
  box-shadow: 0 0.25em 0.5em #d3d3d3;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  margin: 1.5em 0 0.5em;
  padding: 0.75em 0 0.75em 10px;
}
#docs-output h4.name a {
  color: #fc83ff;
}
#docs-output h4.name a:hover {
  border-bottom-color: #fc83ff;
}
#docs-output h5, #docs-output .container-overview .subsection-title {
  font-size: 120%;
  letter-spacing: -0.01em;
  margin: 8px 0 3px 0;
}
#docs-output h6 {
  font-size: 100%;
  letter-spacing: -0.01em;
  margin: 6px 0 3px 0;
  font-style: italic;
}
#docs-output tt, #docs-output code, #docs-output kbd, #docs-output samp {
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  background: #f4f4f4;
  padding: 1px 5px;
}
#docs-output .class-description {
  font-size: 130%;
  line-height: 140%;
  margin-bottom: 1em;
  margin-top: 1em;
}
#docs-output .class-description:empty {
  margin: 0;
}
#docs-output header {
  display: block;
}
#docs-output section {
  display: block;
  background-color: #fff;
  padding: 0;
  margin: 0;
}
#docs-output .variation {
  display: none;
}
#docs-output .signature-attributes {
  font-size: 60%;
  color: #eee;
  font-style: italic;
  font-weight: lighter;
}
#docs-output nav {
}
#docs-output nav h3 {
  margin-top: 12px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 24px;
  margin: 15px 0 10px;
  padding: 0;
  color: #000;
}
#docs-output nav ul {
  font-size: 100%;
  line-height: 17px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#docs-output nav ul a,
#docs-output nav ul a:active {
  line-height: 18px;
  padding: 0;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  padding-bottom: 10px;
}
#docs-output nav a:hover,
#docs-output nav a:active {
  color: #606;
}
#docs-output nav > ul {
  padding: 0 10px;
}
#docs-output nav ul ul {
  padding: 0 15px;
}
#docs-output nav > ul > li > a {
  color: #606;
}
#docs-output nav ul ul {
  margin-bottom: 10px;
}
#docs-output nav ul ul + ul {
  margin-top: -10px;
}
#docs-output nav ul ul a {
  color: #98999a;
  font-weight: normal;
  font-size: 16px;
  padding-top: 9px;
  color: #4a4a4a;
  padding-bottom: 3px;
}
#docs-output nav ul ul a,
#docs-output nav ul ul a:active {
  padding-left: 20px;
}
#docs-output nav h2 {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
#docs-output nav > h2 > a {
  display: block;
  margin: 10px 0 -10px;
  color: #606 !important;
}
#docs-output footer {
  color: #474747;
  margin-left: 310px;
  display: block;
  padding: 15px;
  font-style: italic;
  font-size: 90%;
  opacity: 0.3;
  text-align: center;
  font-size: 11px;
}
#docs-output .ancestors {
  color: #999;
}
#docs-output .ancestors a {
  color: #999 !important;
}
#docs-output .clear {
  clear: both;
}
#docs-output .important {
  font-weight: bold;
  color: #950B02;
}
#docs-output .yes-def {
  text-indent: -1000px;
}
#docs-output .type-signature {
  color: #CA79CA;
}
#docs-output .type-signature:last-child {
  color: #eee;
}
#docs-output .name, #docs-output .signature {
  font-family: Consolas, Monaco, "Andale Mono", monospace;
}
#docs-output .signature {
  color: #fc83ff;
}
#docs-output .details {
  margin-top: 6px;
  border-left: 2px solid #DDD;
  line-height: 20px;
  font-size: 14px;
}
#docs-output .details dt {
  width: 120px;
  float: left;
  padding-left: 10px;
}
#docs-output .details dd {
  margin-left: 70px;
  margin-top: 6px;
  margin-bottom: 6px;
}
#docs-output .details ul {
  margin: 0;
}
#docs-output .details ul {
  list-style-type: none;
}
#docs-output .details pre.prettyprint {
  margin: 0;
}
#docs-output .details .object-value {
  padding-top: 0;
}
#docs-output .description {
  margin-bottom: 1em;
  margin-top: 1em;
}
#docs-output .code-caption {
  font-style: italic;
  font-size: 107%;
  margin: 0;
}
#docs-output .prettyprint {
  font-size: 14px;
  overflow: auto;
}
#docs-output .prettyprint.source {
  width: inherit;
  line-height: 18px;
  display: block;
  background-color: #000;
  color: #aeaeae;
  padding: 0px;
}
#docs-output .prettyprint code {
  line-height: 18px;
  display: block;
  background-color: #000;
  color: #4D4E53;
}
#docs-output .prettyprint > code {
  padding: 15px;
}
#docs-output .prettyprint .linenums code {
  padding: 0 15px;
}
#docs-output .prettyprint .linenums li:first-of-type code {
  padding-top: 15px;
}
#docs-output .prettyprint code span.line {
  display: inline-block;
}
#docs-output .prettyprint.linenums {
  padding-left: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#docs-output .prettyprint.linenums ol {
  padding-left: 0;
}
#docs-output .prettyprint.linenums li {
  border-left: 3px #34446B solid;
}
#docs-output .prettyprint.linenums li.selected, #docs-output .prettyprint.linenums li.selected * {
  background-color: #34446B;
}
#docs-output .prettyprint.linenums li * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
#docs-output .params, #docs-output .props {
  border-spacing: 0;
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 14px;
  margin: 1em 0;
}
#docs-output .params .type {
  white-space: nowrap;
}
#docs-output .params code {
  white-space: pre;
}
#docs-output .params td, #docs-output .params .name, #docs-output .props .name, #docs-output .name code {
  color: #4D4E53;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  font-size: 100%;
}
#docs-output .params td, #docs-output .params th, #docs-output .props td, #docs-output .props th {
  margin: 0px;
  text-align: left;
  vertical-align: top;
  padding: 10px;
  display: table-cell;
}
#docs-output .params td {
  border-top: 1px solid #eee;
}
#docs-output .params thead tr, #docs-output .props thead tr {
  background-color: #fff;
  font-weight: bold;
}
#docs-output .params .params thead tr, #docs-output .props .props thead tr {
  background-color: #fff;
  font-weight: bold;
}
#docs-output .params td.description > p:first-child, #docs-output .props td.description > p:first-child {
  margin-top: 0;
  padding-top: 0;
}
#docs-output .params td.description > p:last-child, #docs-output .props td.description > p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
#docs-output span.param-type, #docs-output .params td .param-type, #docs-output .param-type dd {
  color: #606;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
}
#docs-output .param-type dt, #docs-output .param-type dd {
  display: inline-block;
}
#docs-output .param-type {
  margin: 14px 0;
}
#docs-output .disabled {
  color: #454545;
}
#docs-output .navicon-button {
  display: none;
  position: relative;
  padding: 2.0625rem 1.5rem;
  transition: 0.25s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.8;
}
#docs-output .navicon-button .navicon:before, #docs-output .navicon-button .navicon:after {
  transition: 0.25s;
}
#docs-output .navicon-button:hover {
  transition: 0.5s;
  opacity: 1;
}
#docs-output .navicon-button:hover .navicon:before, #docs-output .navicon-button:hover .navicon:after {
  transition: 0.25s;
}
#docs-output .navicon-button:hover .navicon:before {
  top: 0.825rem;
}
#docs-output .navicon-button:hover .navicon:after {
  top: -0.825rem;
}
#docs-output .navicon {
  position: relative;
  width: 2.5em;
  height: 0.3125rem;
  background: #000;
  transition: 0.3s;
  border-radius: 2.5rem;
}
#docs-output .navicon:before, #docs-output .navicon:after {
  display: block;
  content: "";
  height: 0.3125rem;
  width: 2.5rem;
  background: #000;
  position: absolute;
  z-index: -1;
  transition: 0.3s 0.25s;
  border-radius: 1rem;
}
#docs-output .navicon:before {
  top: 0.625rem;
}
#docs-output .navicon:after {
  top: -0.625rem;
}
#docs-output .nav-trigger:checked + label:not(.steps) .navicon:before,
#docs-output .nav-trigger:checked + label:not(.steps) .navicon:after {
  top: 0 !important;
}
#docs-output .nav-trigger:checked + label .navicon:before,
#docs-output .nav-trigger:checked + label .navicon:after {
  transition: 0.5s;
}
#docs-output .nav-trigger:checked + label {
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
}
#docs-output .nav-trigger:checked + label.plus .navicon,
#docs-output .nav-trigger:checked + label.x .navicon {
  background: transparent;
}
#docs-output .nav-trigger:checked + label.plus .navicon:before,
#docs-output .nav-trigger:checked + label.x .navicon:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #FFF;
}
#docs-output .nav-trigger:checked + label.plus .navicon:after,
#docs-output .nav-trigger:checked + label.x .navicon:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #FFF;
}
#docs-output .nav-trigger:checked + label.plus {
  -webkit-transform: scale(0.75) rotate(45deg);
  transform: scale(0.75) rotate(45deg);
}
#docs-output .nav-trigger:checked ~ nav {
  left: 0 !important;
}
#docs-output .nav-trigger:checked ~ .overlay {
  display: block;
}
#docs-output .nav-trigger {
  position: fixed;
  top: 0;
  clip: rect(0, 0, 0, 0);
}
#docs-output .overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
@media only screen and (max-width: 680px) {
  #docs-output body {
    overflow-x: hidden;
  }
  #docs-output nav {
    background: #FFF;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: -300px;
    z-index: 3;
    padding: 0 10px;
    transition: left 0.2s;
  }
  #docs-output .navicon-button {
    display: inline-block;
    position: fixed;
    top: 1.5em;
    right: 0;
    z-index: 2;
  }
  #docs-output #main h1.page-title {
    margin: 1em 0;
  }
  #docs-output #main section {
    padding: 0;
  }
  #docs-output footer {
    margin-left: 0;
  }
}
#docs-output [data-type=member] a::before {
  content: "#";
  display: inline-block;
  margin-left: -14px;
  margin-right: 5px;
}
#docs-output [data-type=event] a::before {
  content: "℮";
  display: inline-block;
  margin-left: -14px;
  margin-right: 5px;
}
#docs-output [data-sidebar=RootEmitter], #docs-output [data-sidebar=Emitter], #docs-output [data-sidebar=Event] {
  display: none;
}
#docs-output article img {
  max-width: 100%;
  padding: 10px;
  border: 1px solid #efefef;
}
#docs-output iframe {
  border: 3px dashed #efefef;
  max-width: 100%;
}

#docs-output h1,
#docs-output h2,
#docs-output h3,
#docs-output h4,
#docs-output h5,
#docs-output h6 {
  text-transform: none;
  padding-left: 0px;
}

.ce-sub-nav {
  position: absolute;
  right: 0px;
  top: 11px;
}
.ce-sub-nav a {
    margin-left: 20px;
}
#ce-sdk-select .dropdown-toggle {
  float: left;
  margin-right: 15px;
}

#ce-logo {
  width:  220px;
  margin-bottom: 14px;
}

#ce-sdk-select {
      padding-top: 7px;
}
#ce-pn-sub-nav {
  padding-top: 10px;
  padding-bottom: 0px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
}

#ce-side-nav {
  background-color: #f5f5f5;
}
#ce-side-nav-pad {
  padding-left: 20px;
  padding-right: 20px;
}
#ce-side-nav h2 {
  display: none;
}
#docs-output #main {
  padding-left: 50px;
  padding-top: 25px;
}
