language: node_js
sudo: false
node_js:
  - '6'
  - '7'
  - '8'
cache: yarn
script:
  - gulp test
after_success:
  - npm install codecov codacy-coverage
  - cat ./coverage/lcov.info | node_modules/.bin/codacy-coverage
addons:
  srcclr: true
