language: node_js
script:
  - gulp test
after_success:
  - npm install codecov codacy-coverage
  - cat ./coverage/lcov.info | node_modules/.bin/codacy-coverage
addons:
  srcclr: true
sudo: false
node_js:
  - '6'
  - '7'
  - '8'
cache: yarn
jobs:
  include:
    - stage: staging
      if: branch = master-test
      skip_cleanup: true
      script:
      - cd $TRAVIS_BUILD_DIR
      - chmod +x ./staging.sh
      - sh ./staging.sh
