<div id="chat">
        
    <div class="card-header">
        {{chat.channel}} {{chat.unread}}
    </div>

    <div class="card-block">

      <span ng-repeat="user in chat.users" ng-controller="OnlineUser">
        <img ng-src="{{user.state().picture}}" class="avatar"> {{user.state().name}}
        <span class="show-typing" ng-show="user.isTyping">...</span> 
      </span>

    </div>
    
    <div id="log" class="card-block"> 
        <div class="log">
            <div class="row message" ng-repeat="message in messages" ng-class="{'same-user': message.sameUser, 'text-muted': message.isHistory, 'is-self': !message.isSelf}">
                <div class="col-xs-2 text-xs-right">
                    <strong class="username">{{message.sender.state().name}}</strong>
                </div>
                <div class="col-xs-10">
                    <p>{{message.data}}</p>
                </div>
            </div>
        </div> 
        <p class="typing text-muted"></p> 
    </div> 

    <div class="send-message card-block">
        <form ng-submit="sendMessage(chat)"> 
            <div class="input-group"> 
                <input ng-model="messageDraft" ng-change="chat.typingIndicator.startTyping()" type="text" class="form-control message" placeholder="Your Message..."> 
                <span class="input-group-btn"> 
                    <button class="btn btn-primary" type="submit">Send</button> 
                </span> 
            </div> 
        </form> 
    </div>

</div>
