<div id="chat">
        
    <div class="card-header">
        {{chat.channel}}
    </div>

    <div class="card-block online-users">

      <span ng-repeat="user in chat.users" ng-controller="OnlineUser">
        <img ng-src="{{user.state().picture}}" class="avatar">
      </span>

    </div>
    
    <div id="log" class="card-block"> 
        <div class="log">
            <div class="row message" ng-repeat="message in room.messages" ng-class="{'same-user': message.sameUser, 'text-muted': message.isHistory, 'is-self': !message.isSelf}">
                <div class="col col-2 text-right">
                    <strong class="username">{{message.sender.state().name}}</strong>
                </div>
                <div class="col col-10">
                    <p ng-bind-html="message.data"></p>
                </div>
            </div>
            <div class="row message">
                <div class="col col-2"></div>
                <div class="col col-10">
                    <p ng-repeat="user in chat.users" ng-if="user.state(chat).isTyping">{{user.state().name}} is typing...</p>
                </div>
            </div>
        </div> 
    </div> 

    <div class="card" id="emoji-suggest" ng-show="messageDraft.suggestedEmoji.length">
        
        <div class="list-group list-group-flush">

          <a class="list-group-item list-group-item-action" ng-repeat="emoji in messageDraft.suggestedEmoji track by $index" ng-click="completeEmoji(emoji)" href="">
            <span ng-bind-html="chat.emoji.render(emoji)"></span> {{emoji}}
          </a>

        </div>

    </div>

    <div class="send-message card-block">
        <form ng-submit="sendMessage(chat)"> 
            <div class="input-group"> 
                <input ng-model="messageDraft.text" ng-change="chat.typingIndicator.startTyping()" type="text" class="form-control message" placeholder="Your Message..."> 
                <span class="input-group-btn"> 
                    <button class="btn btn-primary" type="submit">Send</button> 
                </span> 
            </div> 
        </form> 
    </div>

</div>
