<div ng-if="Me.profile.uuid">

<div id="sidebar">

    <div class="card">

        <div class="card-block">
            <p class="card-text">{{Me.profile.state().name}}</p>
        </div>

        <div class="card-block">
            <h4>Rooms</h4>
        </div>

        <ul id="room-list" class="list-group list-group-flush">

          <li class="list-group-item" ng-repeat="room in rooms">
              <a ui-sref="dash.chat({channel: room.channel})">{{room.channel}}</a> 
          </li>

        </ul>

        <div class="card-block">
            <h4>Users</h4>
        </div>

        <ul id="online-list" class="list-group list-group-flush">

          <li class="list-group-item" ng-repeat="(uuid, user) in chat.users" ng-hide="user.hideWhileSearch" ng-controller="OnlineUser">
              <a href="" ng-click="newChat(user)"><img ng-src="{{user.state().picture}}" class="avatar">{{user.state().name}}</a> 
              <span class="show-typing" ng-show="user.isTyping">is typing...</span> 
          </li>

        </ul>

        <div class="card-block">
            
            <form class="send-message" ng-submit="userSearch.fire()">
                <div class="input-group">
                    <input id="usernameSearch" type="text" class="form-control message" placeholder="Search for Username" ng-change="userSearch.fire()" ng-model="userSearch.input">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                </div>
            </form>

        </div>

    </div>

</div>

<div id="chats">
    <section ui-view></section>
</div>
